.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 15s linear;
  height: 60px;
}

@media screen and (max-width: 465px) {
  .App-logo {
    height: 10vw;
  }
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #404040;
}

.App-title {
  font-size: 6em;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 465px) {
  .App-title {
    font-size: 10vh;
  }
}

.App-main {
  width: 100%;
  height: 100%;
}
.App-search_bar_container {
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.App-search_bar {
  width: 90%;
}
.App-search_bar input[type=search]{
  position: relative;
  width: 100%;
  min-width: calc(100% - 35%);
  height: 44px;
  border: none;
  border-radius: 2px 0 0 2px;
  padding: 8px;
  padding-left: 16px;
  font-size: 0.855555rem;
}
.App-search_bar_icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0px 2px 2px 0px;
}
.App-button {
  height: 36px;
  line-height: 27px;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  color: #757575;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pokemons {
  margin: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
}
