@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  background: url('https://wallpapertag.com/wallpaper/full/9/d/8/137961-pikachu-background-1920x1080-for-iphone-7.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
